<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Магазин</title>
</head>
<body>
    <h1>Магазин</h1>
    <ul>
        <li>
            Atomic Heart – <button disabled>Купить</button>
        </li>
        <li>
            Cyberpunk 2077 – <button disabled>Купить</button>
        </li>
        <li>
            PayDay – <button disabled>Купить</button>
        </li>
    </ul>
    <button onclick="window.location.href='http://127.0.0.1:8000/task3/platform/'">Вернуться обратно</button>
</body>
</html>
