<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
</head>
<body>
    <h1>Главная страница</h1>
    <nav>
        <ul>
            <li>
                <a href="http://127.0.0.1:8000/task3/platform/">Главная</a>
                <button disabled>Главная</button>
            </li>
            <li>
                <a href="http://127.0.0.1:8000/task3/games/">Магазин</a>
                <button disabled>Магазин</button>
            </li>
            <li>
                <a href="http://127.0.0.1:8000/task3/cart/">Купить</a>
                <button disabled>Купить</button>
            </li>
        </ul>
    </nav>
</body>
</html>
